<div (click)="SideNavButtonOnClick()" class="SideNavButtonWrapper">
    <i class="material-symbols-outlined">menu</i>
</div>
<div class="TabletNavigationWrapper" #TabletNavigationWrapper>
    <div class="NavigationHeaderWrapper">
        <div class="NavigationHeader"> Navigation </div>
    </div>
    <div class="NavigationChoicesWrapper">
        <div>
            <a href="pages/Home"><mat-icon >home</mat-icon>
                <div>
                    Home
                </div>
            </a>
        </div>
        <div>
            <a href="pages/Portfolio"><mat-icon >work_outline</mat-icon>
                <div>
                    Portfolio
                </div>
            </a>
        </div>
        <div>
            <a href="pages/ScatterStuff"><mat-icon> scatter_plot</mat-icon>
                <div>
                    ScatterStuff
                </div>
            </a>
        </div>
        <div>
            <a href="pages/Contact"><mat-icon> email</mat-icon>
                <div>
                    Contact
                </div>
            </a>
        </div>
    </div>
</div>

<div class="SideNavComponent">
    <div class="IconComponent">
        <div>
            <a href="pages/Home"><mat-icon >home</mat-icon></a>
        </div>
        <div>
            <a href="pages/Portfolio"><mat-icon >work_outline</mat-icon></a>
        </div>
        <div>
            <a href="pages/ScatterStuff"><mat-icon> scatter_plot</mat-icon></a>
        </div>
        <div>
            <a href="pages/Contact"><mat-icon> email</mat-icon></a>
        </div>
    </div>
</div> 