.SideNavComponent {
    width: 5%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #800080;
    position: fixed;

    /* Adjust the box to the middle */
    justify-content: center;
    display: flex;
}

.IconComponent {
    /* background-color: black; */
    width: 50%;
    height: 100%;

    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 20%;
    padding-right: 20%;

    justify-content: center;
    display: block;
}

.IconComponent div {
    display: flex;
    justify-content: center;
}

.IconComponent a mat-icon {
    margin-top: 50px;
    margin-bottom: 50px;
    transform: scale(1,1);
    color: aliceblue;
}

.IconComponent a mat-icon:hover {
    color:#52dc90;
}