.ImageViewerWrapper {
    height:100%;
    width: 100%;
}

.LargeViewerContainer {
    width: 100%;
    height: 100%;
}

.LargeViewer {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    overflow: hidden;
}

.ButtonLeft {
    position: absolute;
    top: 35%;
    z-index: 10;
    left: -10%;
    font-size: 50px;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.ButtonRight {
    position: absolute;
    top: 35%;
    z-index: 10;
    right: -10%;
    font-size: 50px;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
}