
<div class="ScatterStuffWrapper" #MyParticleCanvas>
    <div class="RightColumnWrapper">
        <div class="InfoColumn">

        </div>
        <div class="Pages">
            <div class="PageSelectWrapper">
                
                <select [ngModel]="num" (change)="selectOnChange($event)" class="PageSelect"  >
                    <option value="1">2D Particle</option>
                    <option value="2">2D Canvas</option>
                    <option value="3">2D Maze</option>
                </select>
                <div class="ArrowDownWrapper">
                    <fa-icon [icon]="iconArrowDown"></fa-icon>
                </div>
                
                
            </div>
            <div class="PageNumberWrapper">
                <button class="ArrowButton" (click)="clickLeftPage()"> &lt; </button>
                {{num}}/{{currentMax}}
                <button class="ArrowButton" (click)="clickRightPage()"> &gt; </button>
            </div>
        </div>
    </div>
    
    <!-- <div class="MyStuffWrapper" (mousemove)="getMousePos($event)"> -->
    <div class="MyStuffWrapper" [ngSwitch]="num">
        <app-particle-emitter *ngSwitchCase="1" ></app-particle-emitter>
        <app-drawing-canvas *ngSwitchCase="2" ></app-drawing-canvas>
        <app-pathfinding-maze *ngSwitchCase="3" ></app-pathfinding-maze>
    </div>
    
</div>
