<div class="cvObjectRecognition">
    <div class="Content">
        <div class="H1Title">
            <h1>SIT - Object Recognition Counting</h1>
        </div>
        <div class="ImageSlider" >
            <app-image-viewer 
            [imageArrInput]="['https://i.ibb.co/DtTbynN/Object-Counting01-JPG.jpg',
                              'https://i.ibb.co/xhjJGQT/Object-Counting04.jpg', 
                              'https://i.ibb.co/58QYrCF/Object-Counting03.jpg',
                              'https://i.ibb.co/Fm8wNNw/Object-Counting02.jpg']">

            </app-image-viewer>
        </div>
        
        <div class="Description"> 
            <div class="H2Title">
                <h2><b>SIT - Object Recogniation Counting</b></h2>
            </div>
            <div class="Date">
                <h3><b>Internship - Jan 2020 – Mar 2020 (3 Months)</b></h3>
            </div>
            <div class="H3Title">
                <h4><b>Project description</b></h4>
            </div>
            <div class="ProjectDescription">
                <p>Developed an engine to support object recognition in real-time or a given video at SIT Singapore working on an embedded system, Jetson TX2 on Unix OS<br>
                    <br>
                    With little experience with an embedded system, python, Unix, and live detection, I have developed an interface that allows the user to draw areas where the user would like to count if a person decides to walk over the area or wait in an area.<br>
                    <br>
                    When the user is satisfied, the user can run the program to exit out of the editor and into the live detection where it will continue to exist till the user decide to exit out of the program and back into the editor.<br>
                </p>
            </div> 
        </div> 
    </div>
</div>