<div class="HomePageWrapper" id="particles-js">
    <div class="WelcomeMessage">
        <span class="letter">H</span>
        <span class="letter">i</span> 
        <span class="letter">,</span> 
        <br>
        <span class="letter">I</span> 
        <span class="letter">'</span> 
        <span class="letter">m</span>
        <span class="space"></span>
        <span class="letter">J</span> 
        <span class="letter">i</span> 
        <span class="letter">m</span> 
        <span class="letter">,</span> 
        <br>
        <span class="letter">A</span>
        <span class="space"></span> 
        <span class="letter">D</span> 
        <span class="letter">e</span> 
        <span class="letter">v</span> 
        <span class="letter">e</span> 
        <span class="letter">l</span> 
        <span class="letter">o</span> 
        <span class="letter">p</span>
        <span class="letter">e</span>
        <span class="letter">r</span>
    </div>
</div>

