<div class="HomePageWrapper">
    <div class="WelcomeMessage">
        <span>H</span>
        <span>i</span> 
        <span>,</span> 
        <br>
        <span>I</span> 
        <span>'</span> 
        <span>m</span>
        <span>&nbsp;</span>
        <span>J</span> 
        <span>i</span> 
        <span>m</span> 
        <span>,</span> 
        <br>
        <span>A</span>
        <span>&nbsp;</span> 
        <span>D</span> 
        <span>e</span> 
        <span>v</span> 
        <span>e</span> 
        <span>l</span> 
        <span>o</span> 
        <span>p</span>
        <span>e</span>
        <span>r</span>
    </div>
</div>

