.HomePageWrapper {
    width: 100%;
    height: 100%;
    background-color: black;
}

.WelcomeMessage {

    /* Set the position of the wrapper */
    position:absolute;
    margin-top: 20%;
    margin-left: 10%;

    /* Set the div box size   */
    width:60%;
    height:40%;

    /* Debugging */
    /* background-color: beige; */

    /* Set the font size */
    font-size: 50px;
    color: white;
}

.WelcomeMessage span {
    margin-top: 5%;
    margin-bottom: 5%;


    user-select:none;
    display:inline-block;
}

.WelcomeMessage span.space {
    padding: 0 5px !important;
    margin:0 1px;
}

.WelcomeMessage span.letter:hover {
    animation-name: gelatine;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}

.gelatine {
    animation: gelatine;
    
  }
  @keyframes gelatine {
    from {color: white} to { color: cyan; transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }