<div class="cvTagger">
    <div class="Content">
        <div class="H1Title">
            <h1>Tagger</h1>
        </div>
        <div class="ImageSlider" >
            <app-image-viewer 
            [imageArrInput]="['https://i.ibb.co/LnzfbzJ/tagger008.jpg',
                              'https://i.ibb.co/qjzQGkw/tagger001.jpg', 
                              'https://i.ibb.co/25hm9b2/tagger002.jpg',
                              'https://i.ibb.co/HgpXt3V/tagger003.jpg',
                              'https://i.ibb.co/5sd3jvD/tagger004.jpg',
                              'https://i.ibb.co/ZJG66fp/tagger005.jpg',
                              'https://i.ibb.co/4pMBFj3/tagger006.jpg',
                              'https://i.ibb.co/5cnnsSM/tagger007.jpg']">
            </app-image-viewer>
        </div>
        
        <div class="Description"> 
            <div class="H2Title">
                <h2><b>Tagger</b></h2>
            </div>
            <div class="Date">
                <h3><b>2014</b></h3>
            </div>
            <div class="H3Title">
                <h4><b>Project description</b></h4>
            </div>
            <div class="ProjectDescription">
                <p>Tagger is a multiplayer game, a third-person action game where two teams compete against each other in a game of tag.<br>
                    <br>
                    This project is completed in a span of a semester as part of our final year project at Temasek Polytechnic in a team of five.<br>
                    <br>
                    It is done using Unity.<br>
                    <br>
                </p>
            </div>
            <div class="AdditionalInfo">
                <h4><b>Awarded</b></h4>
                <span>Selected to be part of the showcase in Temasek Polytechnic IT Project Show 2014</span> <br>
                <br>
                <h4><b>Role - Programmer</b></h4>
                <span>Work on network architecture and scripting in C#</span>
                <br><br><br><br>
            </div>
        </div> 
    </div>
</div>