.cvTagger {
    height: auto;
    width: 100%;
}

.Content {
    position:relative;
    width: 50%;
    height: auto;
    left: 25%;
    right: 20%;
    top: 10%;
}

.H1Title {
    position: relative;
    text-align: center;
}

.H1Title h1 {
    font-size: 40px;
}

.ImageSlider {
    position: relative;
}

/* Tablet */
@media screen and
(min-width: 601px) and
(max-width: 1279px) {
    .H1Title h1 {
        font-size: 35px;
    }

    .H2Title h2 {
        font-size: 20px;
    }
}

/* Phone */
@media screen and
(min-width: 1px) and
(max-width: 600px) {
    .H1Title h1 {
        font-size: 25px;
    }

    .H2Title h2 {
        font-size: 15px;
    }
}