<div class="cvSecondScholar">
    <div class="Content">
        <div class="H1Title">
            <h1>Second Scholar</h1>
        </div>
        <div class="ImageSlider" >
            <app-image-viewer 
            [imageArrInput]="['https://i.ibb.co/4mNdwhX/secondscholar005.jpg',
                              'https://i.ibb.co/vq774MB/secondscholar001.jpg', 
                              'https://i.ibb.co/sjs26nL/secondscholar002.jpg',
                              'https://i.ibb.co/BfRtxRM/secondscholar003.jpg',
                              'https://i.ibb.co/VJhXfmW/secondscholar004.jpg']">
            </app-image-viewer>
        </div>
        
        <div class="Description"> 
            <div class="H2Title">
                <h2><b>Second Scholar</b></h2>
            </div>
            <div class="Date">
                <h3><b>Sep 2017 - Apr 2018</b></h3>
            </div>
            <div class="H3Title">
                <h4><b>Project description</b></h4>
            </div>
            <div class="ProjectDescription">
                <p>Second Scholar is an isometric puzzle game where you play as a scholar on a quest to save the jade emperor.<br>
                    <br>
                    This project is completed in a span of two semesters in Digipen. The first semester, GAM200, was used to construct a game engine on from scratch and the second semester, GAM250, is to put the game into the engine.<br>
                    <br>
                    It is done using Visual Studio with Win32 API as its base and OpenGL as its Graphics Library.<br>
                    <br>
                </p>
            </div>
            <div class="AdditionalInfo">
                <h4><b>Awarded</b></h4>
                <span>Claude Comair Grand Prize for Game of the Year - 2nd Place, 2018</span> <br>
                <br>
                <h4><b>Role - Graphic Programmer</b></h4>
                <span>Work on 2D graphic, 2D particles and other miscellaneous.</span>
            </div>
        </div> 
    </div>
</div>