.ToolBarWrapper {
    height: 30%;
    background-color: rgb(42, 42, 43);

    
    border-style: solid;
    border-color: rgb(71, 71, 71);
}

.ToolTipWrapper {
    height: 25%;
    background-color: coral;
}

.ClearCanvas {
    float: right;
}

.ColorPickerWrapper {
    height: 75%;
    width: 40%;
    /* background-color: bisque; */
    display: flex;
    flex-direction: row;

    position: relative;
}

.SwatchesFont {
    background: coral;

    width: 45%;
    height: 20%;
}

.SwatchesFront {
    background-color: white;
    width: 20%;
    height: 45%;

    position: absolute;
    left: 10%;
    top: 30%;

    z-index: 2;

    border: solid;
    border-color: black;
}

.SwatchesBack {
    background-color: black;
    width: 20%;
    height: 45%;

    position: relative;
    left: 5%;
    top: 15%;

    z-index: 1;

    border: solid;
    border-color: rgb(233, 233, 233);
}

.ColorGradient {
    height: 80%;
    width: 45%;

    position: relative;
    top: 10%;
    left: 15%;

    /* background-color: orange; */

    border: solid;
    border-color: rgb(233, 233, 233);
}

.MultiColor {
    /* background-color: cyan; */
    
    width:5%;
    height:80%;

    position: relative;
    top: 10%;
    left: 20%;

    border: solid;
    border-color: rgb(233, 233, 233);
}


.DrawingCanvasWrapper {
    background-color: white;
    width: 100%;
    height: 80%;
}



