<div class="CursorTypes">
    <div class="BrushPointer" #BrushPointer></div>
    <div class="EraserPointer" #EraserPointer></div>
</div>


<div class="ToolBarWrapper">
    
    <div class="ToolTipWrapper">
        <div class="ToolNameSwatches"><a>Swatches</a></div>
        <div class="ToolNameColorGradient"><a>Color Gradient</a></div>
        <div class="ToolNameMultiColor"><a>Color</a></div>
        <div class="ToolNameTool"><a>Tools</a></div>
    </div>
    
    <div class="AllToolsWrapper">
        
        <div class="ColorPickerWrapper">
            <div class="SwatchesFront" #divCanvasColorSelected>
                <canvas #canvasColorSelected></canvas>
            </div>
            <div class="SwatchesBack" #divSwatchesBack>
            </div>
            <div class="ColorGradient" #divCanvasColorGradientSelector (mousedown)="colorPickerDown($event)" (mouseup)="colorPickerUp($event)" (mousemove)="colorPickerMove($event)">
                <canvas #canvasColorGradientSelector></canvas>
            </div>
            <div class="MultiColor" #divCanvasMultiColor (mousedown)="multiColorPickerDown($event)" (mouseup)="multiColorPickerUp($event)" (mousemove)="multiColorPickerMove($event)">
                <canvas #canvasMultiColor></canvas>
            </div>

                        <!-- <mat-icon>repeat</mat-icon> -->
        </div>

        <div class="BrushWrapper">
            <div class="FileTitleLineWrapper">
                <div class="FileTitleLine"><hr></div>
                <div class="FileTitleText">Brush</div>
                <div class="FileTitleLine"><hr></div>
            </div>

            <div class="BrushSizeWrapper">
                <div class="BrushSize"> 
                    Brush Size
                    <input type="range" name="brushSize" id="brushSizeSlider" value="10" min="0" max="50" [(ngModel)]="PixelSizeX" />
                </div>
                <div class="BrushSizeNumberWrapper">
                    <div class="BrushSizeNumber">
                        {{PixelSizeX}}
                    </div>
                </div>
            </div>

            <div class="BrushTypesWrapper" #ToolsWrapper>
                <div class="BrushTypesButtonWrapper" (click)="Click_ArrowPointer()" >
                    <fa-icon [icon]="iconArrowPointer"></fa-icon>
                </div>
                <div class="BrushTypesButtonWrapper" (click)="Click_PaintBrush()" >
                    <fa-icon [icon]="iconPaintBrush"></fa-icon>
                </div>
                <div class="BrushTypesButtonWrapper" (click)="Click_Eraser()" >
                    <fa-icon [icon]="iconEraser"></fa-icon>
                </div>
            </div>


        </div>

        <div class="FileWrapper">
            <div class="FileTitleLineWrapper">
                <div class="FileTitleLine"><hr></div>
                <div class="FileTitleText">File</div>
                <div class="FileTitleLine"><hr></div>
            </div>
            <div class="ClearCanvasButtonWrapper">
                <button class="ClearCanvasButton" (click)="ClearCanvas()">Clear</button>
            </div>
            <div class="DownloadCanvasButtonWrapper">
                <button class="SaveCanvasButton" (click)="DownloadCanvas()">Download</button>
            </div>
        </div>

        

    </div>

</div>
<div class="DrawingCanvasWrapper" #MyDivCanvas (mouseleave)="mouseLeave($event)" (mouseenter)="mouseEnter($event)" (mouseup)="mouseUp($event)" (mousedown)="mouseDown($event)" (mousemove)="mouseMove($event)">
    <canvas #canvasEl></canvas>
</div>

