.BrushPointer {
    position: absolute;
    height: 200px;
    width: 200px;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid black;
    display:none;

    color:transparent;

    top: 0;
    left: 0;

    pointer-events: none;

    z-index: 1000;
}

.EraserPointer {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display:none;

    color:transparent;

    top: 0;
    left: 0;

    pointer-events: none;

    z-index: 1000;
}

.ToolWrapper {
    width: 100%;
    height: 35%;

    display: flex;
    flex-direction: row;
    background-color: rgb(42, 42, 42);

    overflow: hidden;
}

.ToolWrapper > div {
    /* width: 25%; */
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* border: solid white; */
}

.ToolWrapper > div > .Title {
    position: relative;

    width: 100%;
    height: 50px;

    /* border: solid white; */

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;

    top: 10px;
}

.ToolWrapper > div > .Title > span {
    color: white;
}

.ToolWrapper > div > div:nth-child(2) {
    width: 100%;
    height: 100%;
    /* background-color: #505050; */

    position: relative;
}

.Swatches {
    min-width: 210px;
}

.SwatchesFront {
    background-color: white;
    width: 100px;
    height: 100px;

    position: absolute;
    left: 70px;
    top: 60px;

    z-index: 2;

    border: solid;
    border-color: black;
    border-width: 1px;
}

.SwatchesBack {
    background-color: black;
    width: 100px;
    height: 100px;

    position: absolute;
    left: 30px;
    top: 20px;

    z-index: 1;

    border: solid;
    border-color: rgb(233, 233, 233);
    border-width: 1px;
}

.SwatchesSwitch {
    /* background-color: rgb(39, 39, 39); */
    height: 30px;
    width: 30px;

    position: absolute;
    left: 140px;
    top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: solid white;
    border-radius: 15px;
    border-width: 1px;
}

.SwatchesSwitch .SwatchesSwitchToolTip {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px;
  margin-bottom: 100%;
  margin-left: 1000%;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  /* z-index: 1; */
}

.SwatchesSwitch:hover .SwatchesSwitchToolTip {
    visibility: visible;
}

.SwatchesSwitch fa-icon {
    font-size: 20px;
    color: white;
}

.ColorGradient {
    min-width: 280px;
}

.ColorPickerWrapper {
    height: 80%;
    width: 100%;

    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */

    position: relative;
    left: 1%;
}

.ColorGradientDiv {
    
    position: relative;
    top: 20px;
    left: 20px;

    width: 200px;
    height: 100%;

    border: solid;
    border-color: rgb(233, 233, 233);
    border-width: 1px;
}

.MultiColor {
    /* background-color: cyan; */
    
    width:5%;
    height:100%;

    position: relative;
    top: 20px;
    left: 40px;

    border: solid;
    border-color: rgb(233, 233, 233);
    border-width: 1px;
}

.Tool {
    width: 300px;
}

.Brush {
    min-width: 200px;
}

.BrushWrapper {
    width: 13%;
    height: 80%;

    /* background-color: blue; */

    position: relative;
    top: 20px;


}

.BrushSizeWrapper {
    width: 100%;
    height: 30%;

    /* background-color: pink; */

    display: flex;
    flex-direction: row;

}

.BrushSize {
    width: 70%;
    height: 100%;
    
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 16px;
    color: white;
}

#brushSizeSlider {
    width:80%;
}

.BrushSizeNumberWrapper {
    width: 30%;
    height: 100%;

    display:flex;
    justify-content: center;
    align-items: center;

    /* background-color:aquamarine; */
}

.BrushSizeNumber {
    font-size: 16px;
    color:white;

    padding: 6px;

    border: solid white;
}

.BrushTypesWrapper {
    height: 30%;
    width: 100%;
    /* background-color: aquamarine; */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.BrushTypesButtonWrapper {
    height: 60%;
    width: 20%;
    /* background-color: antiquewhite; */

    border: solid white;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.BrushTypesButtonWrapper fa-icon {
    color: white;
    font-size: 25px;
}

.BrushTypesButtonWrapper .MoveToolTip {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    margin-bottom: 25%;
    margin-left: 75%;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
.BrushTypesButtonWrapper:hover .MoveToolTip {
    visibility: visible;
}
  
.BrushTypesButtonWrapper .BrushSwitchToolTip {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    margin-bottom: 25%;
    margin-left: 75%;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
.BrushTypesButtonWrapper:hover .BrushSwitchToolTip {
    visibility: visible;
}

.BrushTypesButtonWrapper .EraserSwitchToolTip {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    margin-bottom: 25%;
    margin-left: 75%;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
.BrushTypesButtonWrapper:hover .EraserSwitchToolTip {
    visibility: visible;
}

#BrushWrapper {
    border: solid gray;
    border-radius: 15px;

    width: 100%;
    height: 100%;

    position: relative;
    top: 20px;
}

.File {
    min-width: 200px;
}

.FileWrapper {
    width: 13%;
    height: 80%;

    position: relative;
    top: 20px;
}

.ClearCanvasButtonWrapper {
    width: 100%;
    height: 30%;

    /* background-color: brown; */

    display:flex;
    align-items: center;
    align-content: center;
}

.ClearCanvasButton {
    width: 90%;
    height: 50%;

    color:white;
    font-weight: 100;

    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;

    position: relative;
    left: 5%;
    top: 10%;

    background: #9e9e9e;
    background-image: -webkit-linear-gradient(top, #9e9e9e, #7c7c7c);
    background-image: -moz-linear-gradient(top, #9e9e9e, #7c7c7c);
    background-image: -ms-linear-gradient(top, #9e9e9e, #7c7c7c);
    background-image: -o-linear-gradient(top, #9e9e9e, #7c7c7c);
    background-image: linear-gradient(to bottom, #9e9e9e, #7c7c7c);
}

.ClearCanvasButton:hover {
    background: #7c7c7c;
    background-image: -webkit-linear-gradient(top, #7c7c7c, #505050);
    background-image: -moz-linear-gradient(top, #7c7c7c, #505050);
    background-image: -ms-linear-gradient(top, #7c7c7c, #505050);
    background-image: -o-linear-gradient(top, #7c7c7c, #505050);
    background-image: linear-gradient(to bottom, #7c7c7c, #505050);
}

.DownloadCanvasButtonWrapper {
    width: 100%;
    height: 30%;

    /* background-color: purple; */
}

.SaveCanvasButton {
    width: 90%;
    height: 50%;

    color: white;
    font-weight: 100;

    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;

    position: relative;
    left: 5%;
    top: 25%;

    background: #9e9e9e;
    background-image: -webkit-linear-gradient(top, #9e9e9e, #7c7c7c);
    background-image: -moz-linear-gradient(top, #9e9e9e, #7c7c7c);
    background-image: -ms-linear-gradient(top, #9e9e9e, #7c7c7c);
    background-image: -o-linear-gradient(top, #9e9e9e, #7c7c7c);
    background-image: linear-gradient(to bottom, #9e9e9e, #7c7c7c);
}

.SaveCanvasButton:hover {
    background: #7c7c7c;
    background-image: -webkit-linear-gradient(top, #7c7c7c, #505050);
    background-image: -moz-linear-gradient(top, #7c7c7c, #505050);
    background-image: -ms-linear-gradient(top, #7c7c7c, #505050);
    background-image: -o-linear-gradient(top, #7c7c7c, #505050);
    background-image: linear-gradient(to bottom, #7c7c7c, #505050);
}

.DrawingCanvasWrapper {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 75%;
}


@media screen and
(min-width: 1px) and
(max-width: 450px) { 
    .ToolWrapper {
        position: absolute;
        bottom: 0%;

        background-color: transparent;
    }

    .Swatches {
        visibility: hidden;
    }

    .ColorGradient {
        visibility: hidden;
    }

    .Brush {
        visibility: hidden;
    }

    .BrushTypesWrapper {
        visibility: visible;
        overflow: visible;
        position: absolute;
        left: 0;
        top: 0;
    }

    .BrushTypesButtonWrapper {
        position: absolute;
        visibility: visible;
        overflow: visible;
    }

    .File {
        visibility: hidden;
    }

    .DrawingCanvasWrapper {
        height: 100%;
    }
}